.skillBlock {
    background: #e7b7a5;
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.skillLogo {
    background: #e7e77c;
    width: 60px;
    height: 60px;
}

.description {
    border: 1px solid;
    width: 100%;
    background: plum;
    padding: 10px;
}

@media (max-width: 1017px) {
    .skillBlock {
        width: 300px;
    }
}

@media (max-width: 403px) {
    .skillBlock {
        width: 100%;
    }
}
