@import "./../../common/styles/sass/variables";

.projectsWrapper {
    padding: 80px 0;
    border-top: 1px solid $borderColor;
    .projects {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
}




/*
@media (max-width: 769px) {
    .projects {
        justify-content: center;
    }
}*/
