.projectsWrapper {
    background: #97b4ee;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.projectsContainer {
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
}

.title {
    background: #e7b7a5;
}

@media (max-width: 769px) {
    .projects {
        justify-content: center;
    }
}