@import './../styles/sass/variables.scss';
@import "./../../common/styles/sass/mixins";

.wrapperTitle {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  .title {
    display: inline-block;
    margin-bottom: 70px;
    line-height: 1;
    position: relative;
    text-align: left;
    margin-top: 0;
    @include text($MontserratFontFamily,23px,$captionColor,400);

    &::after {
      position: absolute;
      content: url('./../../assets/image/zigzag.svg');
      top: 35px;
      left: 0;
      -webkit-transform: rotateX(180deg);
    }
  }
}


