.mainBlock {
    background: #aeffe3;
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.containerMain {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 90vh;
}

.welcoming {
    background: #97b4ee;
    margin-bottom: 5px;

}

.photo {
    background: rgba(184, 248, 126, 0.8);
    width: 300px;
    height: 400px;
    margin-bottom: 5px;
}


@media (max-width: 854px) {
    .containerMain {
        justify-content: center;
    }
}