@import "./../../../common/styles/sass/variables";
@import "./../../../common/styles/sass/mixins";

.formWrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 58.333333%;
  display: flex;
  flex-direction: column;
  @media (max-width: 1174px) {
    flex: 0 0 65.333333%;
  }
  @media (max-width: 1069px) {
    flex: 0 0 100%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    .inputsWrapper {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      flex: 0 0 41.666667%;

      @media (max-width: 604px) {
        flex: 0 0 100%;
      }

      & input {
        @include text($MontserratFontFamily,15px,$primaryColor,300);
        width: 100%;
        background-color: transparent;
        margin-bottom: 30px;
        padding: 8px 12px;
        border: 1px solid #888;
        line-height:1.5;
      }
    }

    .textareaWrapper {
      flex: 0 0 58.333333%;

      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      color: $primaryColor;
      @media (max-width: 604px) {
        flex: 0 0 100%;
      }

      .textarea {
        resize: none;
        height: 114px;
        color: $primaryColor;
        background-color: transparent;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 300;
        padding: 8px 12px;
        border: 1px solid #888;
        line-height: 1.5;
        width: 100%;
        font-family: 'Montserrat', sans-serif;

      }
    }
  }

  .btnSend {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0 35px;
    background-color: $captionColor;
    color: $secondBgColor;
    position: relative;
    z-index: 1;
    border: 0;
    outline: 0;
    cursor: pointer;
    overflow: hidden;
    -webkit-border-radius: 1px;
    font-family: 'Montserrat', sans-serif;
  }
}
