@import "./../../common/styles/sass/variables";
@import "./../../common/styles/sass/mixins";

.header {
  padding: 30px 0;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    @include text($MontserratFontFamily,1rem,$primaryColor,400);
    @media (max-width: 506px) {
    }
    .headerLogo {
      text-transform: capitalize;
      transition: 1s color ease;
      cursor: pointer;
      &:hover{
        color:$textColor;
      }
    }

    .headerLink {
      padding: 0 20px;
      background: $captionColor;
      color: black;
      cursor: pointer;
      text-decoration: none;
      position: relative;

      @media (max-width: 773px) {
        font-size: 0;
      }

      &:before {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        display: none;
        width: 40%;
        height: 35%;
        border-top: 2px solid $secondBgColor;
        border-bottom: 2px solid $secondBgColor;
        @media (max-width: 773px) {
          display: block;
        }
      }

      &:after {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        display: none;
        width: 40%;
        height: 2px;
        background: $secondBgColor;
        @media (max-width: 773px) {
          display: block;
        }
      }
    }

  }
}

