@import "./../../common/styles/sass/variables";
@import "./../../common/styles/sass/mixins";

.navbarContainer {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  background: $secondBgColor;
  z-index: 1000;
  padding-left: 40px;
  padding-right: 15px;
  overflow-y: auto;
  -webkit-transition: all .3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 773px) {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding: 30px 0;

    & a {
      text-decoration: none;
      padding: 6px 0;
      text-transform: capitalize;
      user-select: none;
      -webkit-transition: .25s;
      line-height: 1.5;
      margin-bottom: 5px;
      position: relative;
      z-index: 1;
      @include text($MontserratFontFamily,17px,$inactiveColor,400);
    /*  transition-property: color;
      transition-timing-function: ease;
      transition-duration: 1s;*/
      transition: 1s color ease;
      &:hover{
        color:$primaryColor;
      }
    }
  }

  .navFooter {
    line-height: 1.6;
    padding-bottom: 30px;
    @include text($MontserratFontFamily,15px,$textColor,400);
  }
}