$textColor:#ccc;
$captionColor:#3deaa4;
$primaryColor:#fff;
$inactiveColor:#777;
$bgColor:#111318;
$secondBgColor:rgb(5, 5, 5);
$borderColor:#22252d;
$MontserratFontFamily:'Montserrat', sans-serif;
$PlayfairFontFamily:'Playfair Display', serif;