$textColor:#ccc;
$captionColor:#3deaa4;
$primaryColor:#fff;
$inactiveColor:#777;
$bgColor:#111318;
$secondBgColor:#000;
$borderColor:#22252d;
$MontserratFontFamily:'Montserrat', sans-serif;
$PlayfairFontFamily:'Playfair Display', serif;